body{
    background-color: #f3520f;
}

header,nav,main, .row div {
    background-color: #fff;
    min-height: 10vh;
    padding: 5vh;
    border: 1vh solid red;
}
header{
    margin: 2vh auto;
}
nav,main{
    min-height: 82vh;
}